<div class="nowrap">
    <a class="particles-icon" href="https://twitter.com/{{ site.twitter_name }}">{% include svg/twitter.svg %}</a>
    <a class="particles-icon" href="https://telegram.me/{{ site.telegram_name }}">{% include svg/telegram.svg %}</a>
    <a class="particles-icon" href="https://discordapp.com/users/{{ site.discord_id }}">{% include svg/discord.svg %}</a>
    <a class="particles-icon" href="https://steamcommunity.com/id/{{ site.steam_name }}/">{% include svg/gamepad.svg %}</a>
    <a class="particles-icon" href="https://github.com/{{ site.github_name }}">{% include svg/github.svg %}</a>
</div>