---
layout: default
---

<article>
  {% include header.html %}
  <main>
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %e, %Y" }}</time>
    <p class="lead">{{ page.lead }}</p>
    {% if page.caption %}<br /><p class="lead">{{ page.caption }}</p>{% endif %}
    
    {% if page.banner_img %}
      {% assign banner=page.banner_img %}
      {% assign banner_alt=page.banner_alt %}
    {% else %}
      {% assign banner=site.default_banner_image.path %}
      {% assign banner_alt=site.default_banner_image.alt %}
    {% endif %}
    <div style="position: relative;">
      <img src="/{{ banner }}" alt="{{ banner_alt }}" class="banner_img">
      <h2 class="banner_img__banner_text">POSTS | {{page.type | upcase }}</h2>
    </div>

    {{ content }}

    {% include inner-footer.html %}
  </main>
  {% include footer.html %}
</article>
